<footer style="position: fixed;
  border-top: 1px grey solid;
  bottom: 0;
  width: 80%;
  /* Set the fixed height of the footer here */
  height: 50px;">

    <div class="container text-center">
        <small>Copyright &copy; Muteeb Ahmad</small>
    </div>
</footer>